<div class="content" >
  <h1>
    <span style="color: #ffc000;"> เสื้อผ้า SHEIN แท้ๆ ?? </span>
  </h1>
  <h3>
    <span style="color: #ffc000;">ส่งตรงให้คุณถึงบ้าน ราคาถูก ประหยัด</span>
  </h3>
  <p style="text-align: center;">
    <span style="font-size: 18px;">สร้างสรรค์แอปพลิเคชัน และ ผลงานด้านดิจิทัล ด้วยหลักสูตรที่ลงลึกจัดเต็ม ทั้งศาสตร์ และ ศิลป์
    <br> จากผู้มีประสบการณ์เชี่ยวชาญด้านเทคโนโลยีตัวจริง</span>
  </p>

  <div class="content">
    <a class="nectar-button n-sc-button large see-through-2 has-icon" target="_blank"
    href="https://www.borntodev.com/online-course/" data-color-override="#DD3227" data-hover-color-override="false" data-hover-text-color-override="#ffffff"
    style="visibility: visible; color: rgb(221, 50, 39); border-color: rgba(221, 50, 39, 0.75); background-color: transparent;">
    <span>เรียนรู้การพัฒนาแอปพลิเคชัน - (Coding Academy)</span>
    <i class="fa fa-code" style="color: rgb(255, 255, 255);"></i>
  </a>
  <br>
  <a class="nectar-button n-sc-button large see-through-2 has-icon" href="https://www.borntodev.com/creative-school/"
  data-color-override="#DAAF0A" data-hover-color-override="false" data-hover-text-color-override="#ffffff"
  style="visibility: visible; color: rgb(218, 175, 10); border-color: rgba(218, 175, 10, 0.75); background-color: transparent;">
  <span>เรียนรู้การพัฒนาผลงานเทคโนโลยี (Creative School)</span>
  <i class="fa fa-star" style="color: rgb(255, 255, 255);"></i>
</a>
<br>
<a class="nectar-button n-sc-button large see-through-2 has-icon" href="https://www.borntodev.com/borntodev-for-business/"
data-color-override="#18A1F9" data-hover-color-override="false" data-hover-text-color-override="#ffffff"
style="visibility: visible; color: rgb(24, 161, 249); border-color: rgba(24, 161, 249, 0.75); background-color: transparent;">
<span>ความร่วมมือกับองค์กร -  (BorntoDev for Business)</span><i class="fa fa-graduation-cap" style="color: rgb(255, 255, 255);"></i>
</a>
</div>



</div>
