<div class="container" >
  <div class="row" style="margin: auto; padding: 50px ;" >

<div class="card" style="width: 18rem; margin: 5px; "  >
  <img src="assets/img/img1.jpg" style="border-radius: 15px; padding: 5px;" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">เสื้อโชว์รักแร้</h5>
    <p class="card-text">เสื้อสีขาว โชว์รักแร้ ติดผีเสื้อตรงร่องนม ผ้ายืด คุณภาพดี</p>
    <a href="#" class="btn btn-warning">หยิบใส่รถเข็น</a>
  </div>
</div>



<div class="card" style="width: 18rem; margin: 5px; ">
  <img src="assets/img/img2.jpg" style="border-radius: 15px; padding: 5px;"  class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">เสื้อริ้วๆสีดำ</h5>
    <p class="card-text">เสื้อริ้วๆสีดำ ใส่สบายไม่ร้อน </p>
    <a href="#" class="btn btn-primary">หยิบใส่รถเข็น</a>
  </div>
</div>

<div class="card" style="width: 18rem; margin: 5px; ">
  <img src="assets/img/img3.jpg" style="border-radius: 15px; padding: 5px;"  class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">เสื้อเปิดไหล่ข้างเดียว</h5>
    <p class="card-text">เสื้อเปิดไหล่ข้างเดียว ส่วนอีกข้างเป็นตาข่ายแขนยาว เนื้อผ้านุ่ม สามารถกันยุงได้</p>
    <a href="#" class="btn btn-primary">หยิบใส่รถเข็น</a>
  </div>
</div>

<div class="card" style="width: 18rem; margin: 5px; ">
  <img src="assets/img/img4.jpg" style="border-radius: 15px; padding: 5px;"  class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">สายรัดต้นขา</h5>
    <p class="card-text">สายรัดต้นขา ลายผีเสื้อ สำหรับคนรอบขา 24 นิ้ว</p>
    <a href="#" class="btn btn-primary">หยิบใส่รถเข็น</a>
  </div>
</div>

<div class="card" style="width: 18rem; margin: 5px; ">
  <img src="assets/img/img5.jpg" style="border-radius: 15px; padding: 5px;"  class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">เสื้อระบายอากาศ</h5>
    <p class="card-text">เสื้อระบายอากาศ แบบเกาะอก ใส่สบาย เหมือนไม่ได้ใส่</p>
    <a href="#" class="btn btn-primary">หยิบใส่รถเข็น</a>
  </div>
</div>

<div class="card" style="width: 18rem; margin: 5px; ">
  <img src="assets/img/img6.jpg" style="border-radius: 15px; padding: 5px;"  class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">สายเดี่ยวขาว</h5>
    <p class="card-text">เสื้อสายเดี่ยวสีขาว ที่ไม่ธรรมดา</p>
    <a href="#" class="btn btn-primary">หยิบใส่รถเข็น</a>
  </div>
</div>



  </div>
</div>
